header {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
nav ul li {
    display: inline-block;
}
img {
    width: 300px;
}
article , aside {
    display: flexbox;
    border: black solid 2px;
}
article {
    width: 80%;
}
aside {
float: right;
top: 0px;
}
